In [1]:
# TASK 1.1

a=2
b=5
c=12

x=a+b #Addition of 2 number
print ("Addition Value =" + str(x))

y=b-a # subtraction od f number
print ("Subtraction Value =" + str(y))

z=c/5 # Division of 2 numbers
print ("Division Value =" + str(z))

d=c//5 # integer division 
print("Integer Division Value =" + str(d))

e=b**a # Exponent 
print("Exponent Value =" + str(e))

Addition Value =7
Subtraction Value =3
Division Value =2.4
Integer Division Value =2
Exponent Value =25

In [2]:
# TASK 1.2 From the range of number between 2000 and 3000 identify the number which are divisible by 7 but not by 5

lst=[]
arg= range(2000,3000)
for val in arg:
    if val%7 == 0:
        if val%5 != 0:
            lst.append(val)
print(lst)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996]

In [3]:
# TASK 1.3 Read fullname as input from user and print name in reverse order Surname, Firstname
full_name = input("Enter your Full Name : ")
j = full_name.find(' ',0,len(full_name))
first = full_name[0:j]
surname = full_name[j+1:len(full_name)]
print ("%s, %s" %
       (surname, first))

Enter your Full Name Arun Maheshwari

Maheshwari, Arun

In [4]:
# TASK 1.4 Volume of a Sprhere -- Input as radius of Sphere
# Volume of a sphere V=4/3 * π * r**3
# Value is π  = 3.142

pi = 3.142
r = input("Enter Radius of a sphere : ")
Vol = ((4/3) * pi * (int(r)**3))
print ("Volume of Sphere with Diameter " + str(int(r)*2) + " is " +  str(round(Vol,2)))

Enter Radius of a sphere 5

Volume of Sphere with Diameter 10 is 523.67

In [5]:
# TASK 1.4 Volume of a Sprhere -- Input as diameter of Sphere
# Volume of a sphere V=4/3 * π * r**3
# Value is π  = 3.142

pi = 3.142
d = input("Enter Diameter of a sphere : ")
Vol = ((4/3) * pi * ((int(d)/2)**3))
print ("Volume of Sphere with Diameter " + str(int(d)) + " is " +  str(round(Vol,2)))

Enter Diameter of a sphere 10

Volume of Sphere with Diameter 10 is 523.67

In [9]:
# TASK 2.1 Write program to accept a seq of comma separated numbers from console and generate list
str1= input("Enter comma separated number : ")
lst=[]
num = str1.split(',')
for n in num:
        lst.append(int(n))
print(lst)

#for n in num:
#    lst.append(n)
#print(lst)

Enter comma separated number 12,34,34,56,567,667

[12, 34, 34, 56, 567, 667]

In [10]:
# Task 2.2 Pattern printing
n=0
for a in range(0,5):
    n=n+1
    for x in range(0,(n-1)):
        print('*', end='')
    print()
for y in range(0,5):
    n=n-1
    for y in range(0,n+1):
        print('*', end='')
    print()

*
**
***
****
*****
****
***
**
*

In [11]:
# Task 2.3 Reverse a word after accepting user input
ss=input("Enter String to be reversed : ")
print("Reverse of {}".format(ss) ," is " , ss[::-1])

Enter String to be reversed Mahek and Diksha

Reverse of Mahek and Diksha  is  ahskiD dna kehaM

In [12]:
# Task 2.4 Formatted Output
# WE, THE PEOPLE OF INDIA, 
#    having solemnly resolved the constitute India into a SOVEREIGN,
#        SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
#            and to secure to all its citizen

pharse = "WE, THE PEOPLE OF INDIA, having solemnly resolved the constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizen"
lst=[]
ss=pharse.split(', ')
for s in ss:
    lst.append(s)
lst
i=-1
for x in lst:
    if i+1 < len(lst):
        #print(" "*(i*2),"{},".format(lst[i+1]),"{},".format(lst[i+2]))
        print(" "*(i*2),"%s, %s" %
              (lst[i+1],lst[i+2]))
        i+=2

 WE, THE PEOPLE OF INDIA
   having solemnly resolved the constitute India into a SOVEREIGN, SOCIALIST
       SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizen

In [ ]:
pharse = "WE, THE PEOPLE OF INDIA, having solemnly resolved the constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizen"
lst=[]
ss=pharse.split(', ')
for s in ss:
    lst.append(s)
lst
i=0
for x in lst:
    if i+1 <= len(lst):
        print(" "*(i*3),"{}".format(lst[i]))
        i+=1

In [13]:
pharse = "WE, THE PEOPLE OF INDIA, having solemnly resolved the constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizen"
lst=[]
ss=pharse.split(', ')
for s in ss:
    lst.append(s)
lst
i=0
for x in lst:
    if i <= len(lst):
        if i==0:
            print(lst[i].strip(),",")
        elif i< len(lst)-1: 
            print(" "*(i*3),lst[i].strip(),",")
        else:
            print(" "*(i*3),lst[i].strip(),".")
        i+=1

WE ,
    THE PEOPLE OF INDIA ,
       having solemnly resolved the constitute India into a SOVEREIGN ,
          SOCIALIST ,
             SECULAR ,
                DEMOCRATIC REPUBLIC and to secure to all its citizen .