In [ ]:
# Task 1: 
 
# Read the following data set: 
# https://archive.ics.uci.edu/ml/machine-learning-databases/adult/ 
# Rename the columns as per the description from this file: 
# https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names 
# Task: 
# Create a sql db from adult dataset and name it sqladb 
# 1. Select 10 records from the adult sqladb 
# 2. Show me the average hours per week of all men who are working in private sector 
# 3. Show me the frequency table for education, occupation and relationship, separately 
# 4. Are there any people who are married, working in private sector and having a masters                degree 
# 5. What is the average, minimum and maximum age group for people working in different               sectors 
# 6. Calculate age distribution by country 
# 7. Compute a new column as 'Net-Capital-Gain' from the two columns 'capital-gain' and             'capital-loss'

In [ ]:
import numpy as np
import pandas as pd
from pandas import DataFrame
import sqlite3 as db
from pandasql import sqldf

In [ ]:
# Read the following data set: 
# https://archive.ics.uci.edu/ml/machine-learning-databases/adult/
sqladb = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data')

In [ ]:
# adult/adult.names
# age: continuous.
# workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
# fnlwgt: continuous.
# education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
# education-num: continuous.
# marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
# occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
# relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
# race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
# sex: Female, Male.
# capital-gain: continuous.
# capital-loss: continuous.
# hours-per-week: continuous.
# native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

In [ ]:
# Rename the columns as per the description from this file: 
sqladb.columns =['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'income']

In [ ]:
sqladb.head()

In [ ]:
sqladb.shape

In [ ]:
# Create a sql db from adult dataset and name it sqladb1 
sqladb1 = lambda q: sqldf(q, globals())

<h6>
1. Select 10 records from the adult sqladb
</h6>

In [ ]:
sqladb1("SELECT * FROM sqladb LIMIT 10;")

<h6>2. Show me the average hours per week of all men who are working in private sector </h6>

In [ ]:
sqladb1("SELECT avg(hours_per_week) AS 'Average Hours Per Week' FROM sqladb  WHERE TRIM(workclass)= 'Private' and TRIM(sex) = 'Male';")

<h6>3. Show me the frequency table for education, occupation and relationship, separately </h6>

In [ ]:
# Education

In [ ]:
sqladb1("SELECT education, count(*) AS count FROM sqladb GROUP BY education")

In [ ]:
#Occupation

In [ ]:
sqladb1("SELECT occupation, count(*) AS count FROM sqladb GROUP BY occupation")

In [ ]:
#Relationship

In [ ]:
sqladb1("SELECT relationship, count(*) AS count FROM sqladb GROUP BY relationship")

<h6>4. Are there any people who are married, working in private sector and having a masters degree </h6>

In [ ]:
sqladb1("SELECT marital_status, workclass, education, count(*) AS count FROM sqladb where marital_status Like '%Married%' and workclass Like '%Private%' and  education like '%Masters%' GROUP BY marital_status, workclass, education")

<h6>5. What is the average, minimum and maximum age group for people working in different sectors </h6>

In [ ]:
# sqladb1("SELECT occupation, AVG(age) as Average_Age, MAX(age) AS Max_Age, MIN(age) AS Min_Age, Count(1) as cnt, Sum(age)/Count(1) as Avg_Test FROM sqladb GROUP BY occupation")
sqladb1("SELECT occupation, AVG(age) as Average_Age, MAX(age) AS Max_Age, MIN(age) AS Min_Age, Count(1) as cnt FROM sqladb GROUP BY occupation")

<h6>6. Calculate age distribution by country </h6>

In [ ]:
sqladb1("SELECT native_country as COUNTRY, AGE, COUNT(1) as COUNT FROM sqladb GROUP BY native_country, AGE ORDER BY native_country DESC, AGE")

<h6>7. Compute a new column as 'Net-Capital-Gain' from the two columns 'capital-gain' and  'capital-loss'</h6>

In [ ]:
# capital_gain, capital_loss

sqladb1("SELECT age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, race, sex, capital_gain, capital_loss , (capital_gain - capital_loss)  AS 'Net_Capital_Gain', hours_per_week, native_country, income FROM sqladb")

In [ ]:
# Task 2: 
 
# Read the following data set: 
# https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data

In [ ]:
#Import sqlalchemy packages
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import func

In [ ]:
Base = declarative_base()
engine = create_engine('sqlite:///:memory:', echo=True)

In [ ]:
# 1.  Create an sqlalchemy engine using a sample from the data set

In [ ]:
class Adult(Base):
...     __tablename__ = 'Adult'
...
...     id = Column(Integer, primary_key=True)
...     age = Column(Integer)
...     workclass = Column(String)
...     fnlwgt = Column(String)
...     education = Column(String)
...     education_num = Column(String)
...     marital_status = Column(String)
...     occupation = Column(String)
...     relationship = Column(String)
...     race = Column(String)
...     sex = Column(String)
...     capital_gain = Column(Integer)
...     capital_loss = Column(Integer)
...     hours_per_week = Column(Integer)
...     native_country = Column(String)
...     income = Column(String)
...
...     def __repr__(self):
...         return "<Adult(age='%d', workclass='%s', fnlwgt='%s, education='%s', education_num='%s', marital_status='%s', occupation='%s', relationship='%s' race='%s', sex='%s', capital_gain='%d', capital_loss='%d', hours_per_week='%d', native_country='%s', income='%s')>" % (
...         self.age, self.workclass, self.fnlwgt, self.education, self.education_num, self.marital_status, self.occupation, self.relationship, self.race, self.sex, self.capital_gain, self.capital_loss, self.hours_per_week, self.native_country, self.income)

In [ ]:
Adult.__tablename__

In [ ]:
Adult.__table__

In [ ]:
Base.metadata.create_all(engine)

In [ ]:
Session = sessionmaker(bind=engine)
session = Session()

In [ ]:
session.add_all([ 
Adult(id=1, age=39,workclass= 'Self-emp-not-inc',education='Bachelors',education_num=13, marital_status='Married-civ-spouse',occupation='Exec-managerial', relationship='Husband', race='White',sex='Male',capital_gain=0, capital_loss=0, hours_per_week=13, native_country='United-States',income='<=50K'),
                                                                                                        
        Adult(id=2, age=50,workclass= 'Private', fnlwgt=215646, education='HS-grad',education_num=13, marital_status='Divorced',occupation='Handlers-cleaners', relationship='Not-in-family', race='White',sex='Male',capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States',income='<=50K'),
                                                                                                     
        Adult(id=3, age=38,workclass= 'Private', fnlwgt=234721, education=' 11th',education_num=7, marital_status='Married-civ-spouse',occupation='Handlers-cleaners', relationship='Husband', race='Black',sex='Male',capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States',income='<=50K'),
                                                                                                 
        Adult(id=4, age=53,workclass= 'Private', fnlwgt=338409, education='Bachelors',education_num=13, marital_status='Married-civ-spouse',occupation='Prof-specialty', relationship='Wife', race='Black',sex='Female',capital_gain=0, capital_loss=0, hours_per_week=40, native_country='Cuba',income='<=50K'),
                                                                                                    
        Adult(id=5, age=28,workclass= 'Private', fnlwgt=284582, education='Masters',education_num=14, marital_status='Married-civ-spouse',occupation='Exec-managerial', relationship='Wife', race='White',sex='Female',capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States',income='<=50K'),
                                                                                              
        Adult(id=6, age=37,workclass= 'Private', fnlwgt=160187, education='9th',education_num=5, marital_status='Married-spouse-absent',occupation='Other-service', relationship='Not-in-family', race='Black',sex='Female',capital_gain=0, capital_loss=0, hours_per_week=16, native_country='Jamaica',income='<=50K'),
                                                                                                 
        Adult(id=7, age=49,workclass= 'Self-emp-not-inc', fnlwgt=209642, education='HS-grad',education_num=9, marital_status='Married-civ-spouse',occupation='Exec-managerial', relationship='Husband', race='White',sex='Male',capital_gain=0, capital_loss=0, hours_per_week=45, native_country='United-States',income='>50K'),
                                                                                                    
        Adult(id=8, age=52,workclass= 'Private', fnlwgt=45781, education='Masters',education_num=14, marital_status='Never-married',occupation='Prof-specialty', relationship='Not-in-family', race='White',sex='Female',capital_gain=14084, capital_loss=0, hours_per_week=50, native_country='United-States',income='>50K'),
                                                                                                  
        Adult(id=9, age=31,workclass= 'Private', fnlwgt=159449, education='Bachelors',education_num=13, marital_status='Married-civ-spouse',occupation='Exec-managerial', relationship='Husband', race='White',sex='Male',capital_gain=5178, capital_loss=0, hours_per_week=40, native_country='United-States',income='>50K'),
                                                                                                    
        Adult(id=10, age=42,workclass= 'Private', fnlwgt=280464, education='Some-college',education_num=10, marital_status='Married-civ-spouse',occupation='Exec-managerial', relationship='Husband', race='Black',sex='Male',capital_gain=0, capital_loss=0, hours_per_week=80, native_country='United-States',income='>50K'),
                                                                                                   
        Adult(id=11, age=37,workclass= 'State-gov', fnlwgt=141297, education='Bachelors',education_num=13, marital_status='Married-civ-spouse',occupation='Prof-specialty', relationship='Husband', race='Asian-Pac-Islander',sex='Male',capital_gain=0, capital_loss=0, hours_per_week=40, native_country='India',income='>50K'),
                                                                                               
        Adult(id=12, age=30,workclass= 'Private', fnlwgt=122272, education='Bachelors',education_num=13, marital_status='Never-married',occupation='Adm-clerical', relationship='Own-child', race='White',sex='Female',capital_gain=0, capital_loss=0, hours_per_week=30, native_country='United-States',income='<=50K'),
                                                                                               
        Adult(id=13, age=23,workclass= 'Private', fnlwgt=205019, education='Assoc-acdm',education_num=12, marital_status='Never-married',occupation='Sales', relationship='Not-in-family', race='Black',sex='Male',capital_gain=2174, capital_loss=0, hours_per_week=50, native_country='United-States',income='<=50K'),
                                                                                               
        Adult(id=14, age=32,workclass= 'Private', fnlwgt=121772, education='Assoc-voc',education_num=11, marital_status='Married-civ-spouse',occupation='Craft-repair', relationship='Husband', race='Asian-Pac-Islander',sex='Male',capital_gain=0, capital_loss=0, hours_per_week=40, native_country='?',income='>50K'),
                                                                                               
        Adult(id=15, age=40,workclass= 'Private', fnlwgt=245487, education='7th-8th',education_num=4, marital_status='Married-civ-spouse',occupation='Transport-moving', relationship='Husband', race='Amer-Indian-Eskimo',sex='Male',capital_gain=0, capital_loss=0, hours_per_week=45, native_country='Mexico',income='<=50K'),
                                                                                                
        Adult(id=16, age=34,workclass= 'Self-emp-not-inc', fnlwgt=176756, education='HS-grad',education_num=9, marital_status='Never-married',occupation='Farming-fishing', relationship='Own-child', race='White',sex='Male',capital_gain=0, capital_loss=0, hours_per_week=35, native_country='United-States',income='<=50K'),
                                                                                            
        Adult(id=17, age=25,workclass= 'Private', fnlwgt=186824, education='HS-grad',education_num=9, marital_status='Never-married',occupation='Machine-op-inspct', relationship='Unmarried', race='White',sex='Male',capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States',income='<=50K'),
                                                                                             
        Adult(id=18, age=32,workclass= 'Private', fnlwgt=28887, education='11th',education_num=7, marital_status='Married-civ-spouse',occupation='Sales', relationship='Husband', race='White',sex='Male',capital_gain=0, capital_loss=0, hours_per_week=50, native_country='United-States',income='<=50K'),
                                                                                        
        Adult(id=19, age=38,workclass= 'Self-emp-not-inc', fnlwgt=292175, education='Masters',education_num=14, marital_status='Divorced',occupation='Exec-managerial', relationship='Unmarried', race='White',sex='Female',capital_gain=0, capital_loss=0, hours_per_week=45, native_country='United-States',income='>50K'),
                            
        Adult(id=20, age=43,workclass= 'Private', fnlwgt=193524, education='Doctorate',education_num=16, marital_status='Married-civ-spouse',occupation='Prof-specialty', relationship='Husband', race='White',sex='Male',capital_gain=0, capital_loss=0, hours_per_week=60, native_country='United-States',income='>50K')
     ])

In [ ]:
for row in session.query(Adult).all():
    print(row)

In [ ]:
session.commit()

In [ ]:
# --------------------------------------------------------------------------------------

In [ ]:
# 2.  Write two basic update queries

In [ ]:
from sqlalchemy import update
conn=engine.connect()

In [ ]:
# Update 1
stmt = update(Adult).where(Adult.hours_per_week > 40).values(capital_gain=200)
conn.execute(stmt)
session.commit()

In [ ]:
# Update 2
stmt = update(Adult).where(Adult.age > 60).values(workclass = 'Retired-Senior')
conn.execute(stmt)
session.commit()

In [ ]:
for adult in session.query(Adult).filter(Adult.age > 60):
    print(adult.workclass, adult.age)

In [ ]:
# 3.  Write two delete queries

In [ ]:
# Delete 1
session.query(Adult).filter(Adult.age > 60).delete()
session.commit()

In [ ]:
# Delete 2
session.query(Adult).filter(Adult.id == 1).delete()
session.commit()

In [ ]:
# Verify Data
# for adult in session.query(Adult).filter(Adult.id == 2):
#     print(adult)

In [ ]:
# 4.  Write two filter queries

In [ ]:
# Filter 1
for adult in session.query(Adult).filter(Adult.age > 30):
    print(adult)
# stmt = session.query(Adult).filter(Adult.age > 30).filter(Adult.age <=40)
# conn.execute(stmt)

In [ ]:
#Filter 2
for adult in session.query(Adult).filter(Adult.native_country == 'India'):
    print(adult)

In [ ]:
# 5.  Write two function queries

In [ ]:
# Function 1
session.query(Adult.workclass, func.sum(Adult.capital_gain)).group_by(Adult.workclass).all()

In [ ]:
# Function 2
session.query(Adult.native_country, Adult.marital_status, func.count(Adult.marital_status)).group_by(Adult.native_country, Adult.marital_status).all()

In [ ]:
# -------------------------------------------------------------------------